*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,body{
    background-color: rgb(34, 31, 31);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    background-color:rgb(65, 61, 61);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 100%;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

#message{
    color: rgb(43, 255, 0);
}