*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: rgb(249, 238, 223);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   
}

main{
    width: 300px;
    box-shadow:  3px 3px 10px black;
    /* height: 200px; */
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
}

.tittle{
    margin: 0;
    font-size: 20px;
}

.subtittile{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

header{
    background-color: rgba(68, 68, 233, 0.903);
    padding: 10px;
}
header input{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 10px 15px;
    border: none;
}

header input:focus{
    outline: none;
}

.user-list{
    background-color: #fff;
    list-style-type:none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.user-list li{
    display: flex;
    padding: 20px;
}

.user-list img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 50px;
}

.user-list .user-info{
    margin: 10px;
}
.user-list .user-info h4{
    color: black;
    margin: 0 0 10px;
}

.user-list .user-info p{
    font-size: 12px;
}


.user-list li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

.user-list li.hide{
    display: none;
}