*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: cursive;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* #Insert{
    width: 400px;
} */
.key{
    border: 1px solid #9999;
    box-shadow: 1px 1px 3px black;
    display: inline-block;
    padding: 10px;
    /* width: 50%; */
}

