*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(34, 31, 31);
    
    height: 100vh;
    
}


.loader{
/* animation: pop 1s infinite; */
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
color: white;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 100px;
background-color: black;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.283);
}


