*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
  
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* /* flex-wrap: wrap; */
    margin: 0;
    overflow-x: hidden; 

}

h1{
    margin: 10px;
}
.box{
    background-color: skyblue;
    color: #fff;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 2px 4px 5px black;
    border-radius: 10px;
    transform: translateX(400%);
    transition:  transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 45px;
}