*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 400px;
    height: 600px;
    
    border-radius: 20px;
    padding: 10px;
    transition: .5s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    border: 1px solid wheat;
}
.card:hover{
    box-shadow: 0px 0px 10px;
    transition:.5s ease-out;
    
}
h2{
    font-size: 50px;
 
}

.filed{
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
    margin-bottom: 10px;
    padding: 10px;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-top: 5px;
}

label{
    font-size: 15px;
}

.error{
    color: red;
    font-size: 13px;
    margin-top: 6px;
}
.success{
   color: rgba(0, 128, 0, 0.68);
   font-size: 13px;
    margin-top: 6px;
}

.input:focus{
    box-shadow: 0 0 5px black;
}

button{
    padding: 10px;
    width: 100%;
}
.hidden{
    display: none;
}


.result{
    margin-top:14px ;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(0, 254, 254);
    width: 350px;
    height: 50px;
    position: absolute;
}