*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

body{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.calculator{
    background-color: #222;
color: white;
border-radius: 20px;
width: 260px;
text-align: center;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.906);
padding: 10px;
}

#Display{
    width: 100%;
    height: 40px;
    font-size: 22px;
    margin-bottom: 5px;
    border: none;
    text-align: right;
    border-radius: 5px;
    padding: 5px;
 
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: #ece9e9;
}

#equal{
    grid-column: span 4;
    background-color: rgb(168, 9, 9);
   
}

#equal:hover{
    background-color: red;

}

.clear{
    background-color: rgba(1, 255, 94, 0.929);
}