*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
  background-color: rgb(81, 114, 114);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.container{
  background-color: rgba(3, 3, 209, 0.517);
  color: #fff;
  border-radius: 20px;
  padding: 50px 30px;
  max-width: 686px;
  position: relative;
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.para{
  font-size: 30px;
  line-height: 28px;
  text-align: center;
}

.user img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.user .user-details{
  margin-left: 20px;
}
