*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    height: 100vh;
    background-color: gray;
    justify-content: center;
    display: flex;
    align-items: center;
}

.count{
color: aquamarine;
font-weight: bold;
font-size: 100px;
}


.number{
    animation:  pop 1s linear infinite;
}


@keyframes pop {
    0%{
transform: scale(0.2);
opacity: 0;
    }
    50%{
transform: scale(1.3);
opacity: 1;
    }
    100%{
transform: scale(0.3);
opacity: 0;
    }
}